<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @presenter.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @presenter.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @presenter.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @presenter.age %>
</p>

<%= link_to 'Edit', edit_presenter_path(@presenter) %> |
<%= link_to 'Back', presenters_path %>
