<nav class="navbar navbar-expand-xl navbar" style="background-color: #42F1BD;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Pracfin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLight" aria-controls="navbarLight"  aria-expanded="false" aria-label="Toggle navigation"  >
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse show" id="navbarLight">
      <ul class="navbar-nav me-auto mb-2 mb-xl-0">
        <li class="nav-item">
          <%= link_to "Vestimenta", clothings_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Presentador", presenters_path, class: 'nav-link'  %>
        </li>
        <li class="nav-item">
          <%= link_to "Transmision", transmissions_path, class: 'nav-link'  %>
        </li>
        <li class="nav-item">
          <%= link_to "Prenda", garments_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Tipo de Prenda", garment_types_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Marca", brands_path, class: 'nav-link' %>
        </li>
      </ul>

      <%= render 'layouts/user' %>

    </div>
  </div>
</nav>
